apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: filebeat
  namespace: observer
spec:
  selector:
    matchLabels:
      app: filebeat
  template:
    metadata:
      labels:
        app: filebeat
    spec:
      serviceAccountName: filebeat
      tolerations:
        - operator: "Exists"
      terminationGracePeriodSeconds: 30
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: filebeat
          image: docker.elastic.co/beats/filebeat:8.11.4
          args: ["-c", "/usr/share/filebeat/filebeat.yml", "-e"]
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: ES_API_KEY
              valueFrom:
                secretKeyRef:
                  name: filebeat-es-secret
                  key: ES_API_KEY
          securityContext:
            runAsUser: 0
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop: ["ALL"]
          volumeMounts:
            - name: config
              mountPath: /usr/share/filebeat/filebeat.yml
              subPath: filebeat.yml
              readOnly: true
            - name: varlog-containers
              mountPath: /var/log/containers
              readOnly: true
            # ✅ symlink 타겟
            - name: varlog-pods
              mountPath: /var/log/pods
              readOnly: true
            - name: data
              mountPath: /usr/share/filebeat/data
      volumes:
        - name: config
          configMap:
            name: filebeat-config
        - name: varlog-containers
          hostPath:
            path: /var/log/containers
            type: Directory
        # ✅ symlink 타겟
        - name: varlog-pods
          hostPath:
            path: /var/log/pods
            type: Directory
        - name: data
          hostPath:
            path: /var/lib/filebeat-data
            type: DirectoryOrCreate
